<header class="d-flex align-items-center fixed-top mat-elevation-z3">
  <div class="container d-flex">
    <span><a href="" (click)="scrollIntoView($event, 'home')">jh-code.com</a></span>

    <nav class="d-none d-md-block flex-md-fill text-center">
      <ul>
        <li class="d-block d-md-inline-block"><a href="" (click)="scrollIntoView($event, 'home')">home</a></li>
        <li class="d-block d-md-inline-block"><a href="#about" (click)="scrollIntoView($event, 'about')">about</a></li>
        <li class="d-block d-md-inline-block"><a href="#portfolio" (click)="scrollIntoView($event, 'portfolio')">portfolio</a></li>
        <li class="d-block d-md-inline-block"><a href="#contact" (click)="scrollIntoView($event, 'contact')">contact</a></li>
      </ul>
    </nav>

    <span class="social-icons ml-auto text-right">
      <a target="_blank" href="https://github.com/jh-code/"><i class="socicon-github"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/wphax/"><i class="socicon-linkedin"></i></a>
      <a target="_blank" href="https://www.facebook.com/jhcode/"><i class="socicon-facebook"></i></a>
      <a target="_blank" href="https://stackexchange.com/users/274396/jared?tab=accounts"><i class="socicon-stackexchange"></i></a>
    </span>
  </div>
</header>
