<header class="d-flex align-items-center fixed-top mat-elevation-z3">
  <div class="container d-flex">
    <span><a href="" (click)="scrollIntoView($event, 'home')">jh-code.com</a></span>

    <nav class="d-none d-md-block flex-md-fill text-center">
      <ul>
        <li class="d-block d-md-inline-block"><a href="" (click)="scrollIntoView($event, 'home')">home</a></li>
        <li class="d-block d-md-inline-block"><a href="#about" (click)="scrollIntoView($event, 'about')">about</a></li>
        <li class="d-block d-md-inline-block"><a href="#portfolio" (click)="scrollIntoView($event, 'portfolio')">portfolio</a></li>
        <li class="d-block d-md-inline-block"><a href="#contact" (click)="scrollIntoView($event, 'contact')">contact</a></li>
      </ul>
    </nav>

    <span class="social-icons ml-auto text-right">
      <a href=""><i class="socicon-stackexchange" target="_blank"></i></a>
      <a href=""><i class="socicon-github" target="_blank"></i></a>
      <a href=""><i class="socicon-twitter" target="_blank"></i></a>
      <a href=""><i class="socicon-linkedin" target="_blank"></i></a>
      <a href="https://twitch.tv/n0tahacker_/" target="_blank"><i class="socicon-twitch"></i></a>
      <a href=""><i class="socicon-facebook" target="_blank"></i></a>
    </span>
  </div>
</header>
